.left{
    width: 500px;
    height: 200px;
    /* background-color: red; */
    float: left;
}

.right{
    width: 200px;
    height: 200px;
    /* background-color: yellow; */
    float: left;
}

.container{
    width: 700px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hd{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-top: 0px;
    margin-left: 5px;
    float: left;
    vertical-align: top;
}

.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background-color:#eee;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(6, 181, 250);
    
}


.nava a{
    font-size: 16px;
    text-decoration: none;
    color: gray;
}


 